In [13]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

### Import dataset and display the dataframe with headers

##### URL to the dataset : https://archive.ics.uci.edu/ml/datasets/ElectricityLoadDiagrams20112014#

In [15]:
data = pd.read_csv("Electricity-Loading-Prediction.txt", sep=";")
data.rename(columns = {"Unnamed: 0" : "time"}, inplace=True)
data.head(3)

,time,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
0,2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0

In [16]:
# check basic information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140256 entries, 0 to 140255
Columns: 371 entries, time to MT_370
dtypes: float64(1), object(370)
memory usage: 397.0+ MB

In [18]:
# check which column is float 
print([column for column in data.columns if data[column].dtype == "float" ])

['MT_362']

In [28]:
# check for null values if any
data.isna().sum().sort_values(ascending = False)

time      0
MT_244    0
MT_253    0
MT_252    0
MT_251    0
         ..
MT_121    0
MT_120    0
MT_119    0
MT_118    0
MT_370    0
Length: 371, dtype: int64

In [38]:
# convert timestamp column to datetime and rest all column entries to float
data["time"] = pd.to_datetime(data["time"])
data.info()

# check which column is timestamp 
print([column for column in data.columns if data[column].dtype == "datetime64[ns]" ])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140256 entries, 0 to 140255
Columns: 371 entries, time to MT_370
dtypes: datetime64[ns](1), float64(1), object(369)
memory usage: 397.0+ MB
['time']

In [57]:
exclude = set(['time', 'MT_362'])
columns = set(data.columns) 
print(len(columns))
include = list(columns - exclude)
print(len(include))

371
369

In [87]:
# convert all other columns except column MT_362 and time to float
for column in include:
    data[column] = data[column].str.replace(",", ".").astype(float)
    

data.tail(3)

,time,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
140253,2014-12-31 23:30:00,2.538071,20.625889,1.737619,162.601626,82.926829,318.452381,10.17524,242.424242,61.188811,...,284.796574,27800.0,1556.962025,1318.181818,27.379400,9.362200,670.763828,153.589316,670.087977,6864.864865
140254,2014-12-31 23:45:00,1.269036,21.337127,1.737619,166.666667,85.365854,285.714286,10.17524,225.589226,64.685315,...,246.252677,28000.0,1443.037975,909.090909,26.075619,4.095963,664.618086,146.911519,646.627566,6540.540541
140255,2015-01-01 00:00:00,2.538071,19.914651,1.737619,178.861789,84.146341,279.761905,10.17524,249.158249,62.937063,...,188.436831,27800.0,1409.282700,954.545455,27.379400,4.095963,628.621598,131.886477,673.020528,7135.135135

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140256 entries, 0 to 140255
Columns: 371 entries, time to MT_370
dtypes: datetime64[ns](1), float64(370)
memory usage: 397.0 MB